{% extends "base.html" %}
{% block content %}
<div class="bs-docs-featurette">
  <div class="container">
    <h2 class="bs-docs-featurette-title">So you wanna be a Programmer?</h2>
    <br>
    <p class="lead">
      프로그래머가 되고 싶으시다구요?<br>
      훌륭한 프로그래머로의 첫걸음.
    </p>

    <hr class="half-rule">

    <div class="row">
      <div class="col-sm-4">
        <span style="font-size:1.5em;" class="glyphicon glyphicon-thumbs-up"></span>
        <h3>환영합니다!</h3>
        <hr class="half-rule">
        <p>프로그래밍을 공부해보고 싶은데 어디서부터 시작해야할지 모르겠다구요? 특정
        튜토리얼을 잡고 차근차근 따라해보려고 해도 모르는 개념과 단어들이 너무
        많으시다구요? SYWBaP에 잘 찾아오셨습니다.</p>
      </div>
      <div class="col-sm-4">
        <span style="font-size:1.5em;" class="glyphicon glyphicon-sunglasses"></span>
        <h3>큰 그림</h3>
        <hr class="half-rule">
        <p>인터넷엔 이미 훌륭한 프로그래밍 리소스들이 많이 있죠. 왜 굳이 하나가 더
        필요하냐구요? SYWBaP는 특정 언어, 도구, 또는 프레임워크의 사용법 보다는
        여러분이 어떤 환경에서 개발을 하더라도 도움이 될 큰 그림에 집중합니다.</p>
      </div>
      <div class="col-sm-4">
        <span style="font-size:1.5em;" class="glyphicon glyphicon-transfer"></span>
        <h3>오픈 소스</h3>
        <hr class="half-rule">
        <p>훌륭한 프로그래머가 되기 위해 꼭 알아야 할 내용이 빠져 있다구요?
        오탈자를 발견했거나, 버그를 찾으셨다구요? SYWBaP를 더 나은 모습으로
        만드는 것을 도와주세요. SYWBaP는 오픈 소스 프로젝트로, <a
            href="https://github.com/heejongahn/So-you-wanna-be-a-programmer">Github</a>을
        통해 개발 및 유지되고 있습니다.</p>
      </div>
    </div>

    <hr class="half-rule">

    <p class="lead">준비가 되었다면, 시작 해 볼까요?</p>
    <a href="/1" class="btn btn-outline btn-lg">I wanna be a programmer!</a>
  </div>
</div>
{% endblock %}
